@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Html.Raw("Kareem ElSayed (<a target='_blank' href='http://kemobyte.branded.me'>@Kemobyte</a>)")<br />
    Dubai, United Arab Emirates<br />
    <abbr title="Phone">M:</abbr>
    +971508681530
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kareem.elhaki@gmail.com">Kareem ElSayed</a><br />
</address>