@{
    ViewBag.Title = "Prettifier Home";
}

<div class="jumbotron">
    <h1>Prettifier</h1>
    <p class="lead">Prettifier is a free tool for formating Large Numbers and displaying them in Pretty forms. Prettifier built using ASP.NET, HTML, CSS and JavaScript.</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Try It &raquo;"), "Create", "PrettifiedNumbers", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row" style="align-content:center">
    <div class="col-md-6">
       
    </div>
    <div class="col-md-6">
       
    </div>
</div>

